@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800,900&display=swap);
// Обнуление
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{text-align: inherit; font-size: inherit; font-weight: 400;}

//конец обнуления

body{
    font-family: Rubik;
    font-weight: 400;
    font-size: rem(12);
    line-height: 138.5%;
    color: #616161;
}

[class*="__container"]{
    max-width: 1057px;
    margin: 0 auto;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 1 auto;
}


